<!-- templates/core/quiz.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4" id="quiz">
    <div id="question" class="question"></div>
    <div class="options">
        <input type="radio" name="answer" id="a" class="answer" data-trait="">
        <label for="a" id="a_text"></label>
    </div>
    <div class="options">
        <input type="radio" name="answer" id="b" class="answer" data-trait="">
        <label for="b" id="b_text"></label>
    </div>
    <button id="submit">Submit</button>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'core/js/quiz.js' %}"></script>
{% endblock %}
